* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.carousel-container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    border: 2px solid red;

}

.carousel-slides {
     display: flex;
     width: 90%;
     height: 500px;
   }

#arrowLeft{
    position: absolute;
    top: 50%;
    left: 2%;
    color: green;
}   
#arrowRight{
    position: absolute;
    top: 50%;
    right: 2%;
    color: green;

}